<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
	{% load static %}
<link href="{% static 'css/crack.css' %}" rel="stylesheet" type="text/css">
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>test</title>
</head>

<body>
	<div id="container" style="height: 100%"></div>
	<meta charset="UTF-8">
	<div id="center1">
	<center>>
			<h1 id="title">情感分析系统</h1>
			<a href="{% url 'index' %}">首页</a> 
			<hr>
	</center>
	</div>
	<div class="seniment">
		<center>
			<h4>这个页面展示了爬取的评论信息，在在这里可以对评论IP属地的平均情感极性进行图形化分析，点击下面的‘作图’按钮即可生成柱形图或饼状图</h4>
			<form action="{% url 'Drawing' bid %}" target="_self" method="get">

				<tr>
					<td colspan="2" align="center">
						<button id="getDataButton">柱形图</button>
					</td>
				</tr>
			</form>
			<br>
			<form action="{% url 'Draw' bid %}" target="_self" method="get">

				<tr>
					<td colspan="2" align="center">
						<button id="getDataButton2">饼状图</button>
					</td>
				</tr>
			</form>
		</center>
		<br><hr><br>
	</div>
	<div>
		<table align="center" border="1" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>用户名</th>
					<th>用户uid</th>
					<th>评论时间</th>
					<th>评论内容</th>
					<th>点赞数</th>
					<th>bv号</th>
					<th>IP属地</th>
					<th>情感极性</th>
				</tr>
			</thead>

			<tbody id="table">
				{% for info in infos %}
				<tr>
					<td>{{ info.uname }}</td>
					<td>{{ info.uid }}</td>
					<td>{{ info.ctime }}</td>
					<td>{{ info.reply }}</td>
					<td>{{ info.like }}</td>
					<td>{{ info.Bvid }}</td>
					<td>{{ info.IP_add }}</td>
					<td>{{ info.seniment }}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>

		

</body>

</html>