<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'css/test.css' %}" rel="stylesheet" type="text/css">
<title>test</title>
</head>
<body>
	<div id="center">
	<center>		
	  <h1 id="title">情感分析系统</h1>
		<a href="{% url 'index' %}">首页</a> 
		<a href=""></a>
		<hr>
		
		<div class="search">
			<form action="{% url 'insert' %}" target="_self" method="post">
				<input type="text" class="placeholder" placeholder="请输入bv号" name="BV">
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="添加">
						<input type="reset" value="重置">
					</td>
				</tr>
			</form>
		</div>
    </center>
	</div>	
		<br>
		<div>
		<table align="center" border="1" cellpadding="0"cellspacing="0">
         <thead>
			<tr>
				<th>BV号</th>
				<th>视频标题</th>
				<th>UP主</th>
				<th>播放量</th>
				<th>评论数</th>
				<th>操作</th>
			</tr>
		 </thead>


		 <tbody id="table">
			{% for m in BVlist %}
			    <tr>
					<td>{{ m.Bvid }}</td>
					<td>{{ m.Bvtitle }}</td>
					<td>{{ m.UP }}</td>
					<td>{{ m.Bv_views }}</td>
					<td>{{ m.Bvreplies }}</td>
					
					<td>
						<a href="{% url 'crack' m.Bvid %}">爬取</a>|					
					    <a href="{% url 'bvsearch' m.Bvid %}">查询</a>|
					    <a href="{% url 'bvdelete' m.Bvid %}">删除</a>|
						<a href="{% url 'seniment' m.Bvid %}">情感分析</a>
				    </td>
			    </tr>
			{% endfor %}	

		 </tbody>
		</table>
	</div>
	<br>
<br><br><hr>

	<div class="seniment">
		<div id="analyse">
		<center>
			<h3>情感分析</h3>
          <p>在这个模块你可以手动输 入评论，并测试情感分析的功能在下面的输入框中输入你的评论，并查询结果：</p>
<form action="{% url 'seni' %}" target="_self" method="get">
		  <input type="text" class="placeholder" placeholder="请输入评论" name="comment">
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="分析">
						<input type="reset" value="重置">
					</td>
				</tr>
			</form>
			<br><br>
			{% if seniout == 1 %}
				<div><p>您输入的评论是积极的</p></div>
			{% elif seniout == 0 %}
				<div><p>您输入的评论是消极的</p></div>
			{% endif %}
	    </center>
		</div>
	</div>
	

</body>
</html>